* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
}

div .light {
  background-color: #ccc;
  color: #222;
}

.dark {
  background-color: #222;
  color: #ccc;
}

.wrapper {
  border-top: 4px solid #eee;
  border-left: 4px solid #eee;
  border-right: 4px solid #444;
  border-bottom: 4px solid #444;
  box-shadow: 2px 2px 5px #444;
}
.wrapper .Options .menu {
  display: flex;
  height: 22px;
  font-size: 14px;
  background-color: #ddd;
  border: 1px solid #aaa;
}
.wrapper .Options .menu .popup-wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .Options .menu .popup-wrapper ul {
  display: none;
  background-color: #ddd;
  z-index: 1;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.wrapper .Options .menu .popup-wrapper ul li {
  width: 100%;
}
.wrapper .Options .menu .popup-wrapper ul li input {
  display: none;
}
.wrapper .Options .menu .popup-wrapper ul li label {
  display: inline-block;
  width: 100%;
  padding: 2px 4px;
  border-bottom: 1px solid #aaa;
}
.wrapper .Options .menu .popup-wrapper ul li label:hover {
  background-color: #bbb;
}
.wrapper .Options .menu .popup-wrapper span {
  padding: 0 26px 2px 4px;
  border-right: 1px solid #aaa;
  cursor: default;
}
.wrapper .Options .menu .popup-wrapper span:hover {
  background-color: #bbb;
}
.wrapper .Options .menu .popup-wrapper span:hover + ul {
  display: inline-block;
}
.wrapper .Options .menu .popup-wrapper ul:hover {
  display: inline-block;
}
.wrapper .Options .panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.wrapper .Options .panel .emoji {
  background-color: #bbb;
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
  border-right: 3px solid #666;
  border-bottom: 3px solid #666;
  height: 40px;
}
.wrapper .Options .panel .emoji:active {
  border-top: 3px solid #666;
  border-left: 3px solid #666;
  border-right: 3px solid #eee;
  border-bottom: 3px solid #eee;
}
.wrapper .Options .panel .counter {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  font-size: 32px;
  letter-spacing: 2px;
  border-top: 3px solid #666;
  border-left: 3px solid #666;
  border-right: 3px solid #eee;
  border-bottom: 3px solid #eee;
  color: #eee;
  background-color: #511;
}
.wrapper .Options .panel .easy {
  width: 56px;
}
.wrapper .Game {
  margin: 0 8px 8px 8px;
}
.wrapper .Game .line {
  display: flex;
}
.wrapper .Game .field {
  height: 22px;
  width: 22px;
}
.wrapper .Game .hidden {
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
  border-right: 3px solid #666;
  border-bottom: 3px solid #666;
}
.wrapper .Game .field.hidden:active {
  border-top: 3px solid #666;
  border-left: 3px solid #666;
  border-right: 3px solid #eee;
  border-bottom: 3px solid #eee;
}/*# sourceMappingURL=index.css.map */