@mixin borders($size) {
  border-top: $size solid #eee;
  border-left: $size solid #eee;
  border-right: $size solid #666;
  border-bottom: $size solid #666;
}

@mixin borders-reversed($size) {
  border-top: $size solid #666;
  border-left: $size solid #666;
  border-right: $size solid #eee;
  border-bottom: $size solid #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
}

div .light {
  background-color: #ccc;
  color: #222;
}

.dark {
  background-color: #222;
  color: #ccc;
}

.wrapper {
  border-top: 4px solid #eee;
  border-left: 4px solid #eee;
  border-right: 4px solid #444;
  border-bottom: 4px solid #444;
  box-shadow: 2px 2px 5px #444;

  .Options {
    .menu {
      display: flex;
      height: 22px;
      font-size: 14px;
      background-color: #ddd;
      border: 1px solid #aaa;

      .popup-wrapper {
        display: flex;
        flex-direction: column;
        
        ul {
          display: none;
          background-color: #ddd;
          z-index: 1;
          border-left: 1px solid #aaa;
          border-right: 1px solid #aaa;

          li {
            width: 100%;
            
            input {
              display: none;
            }
            
            label {
              display: inline-block;
              width: 100%;
              padding: 2px 4px;
              border-bottom: 1px solid #aaa;
            }

            label:hover {
              background-color: #bbb;
            }
          }
        }

        span {
          padding: 0 26px 2px 4px;
          border-right: 1px solid #aaa;
          cursor: default;
        }

        span:hover {
          background-color: #bbb;
        }

        span:hover + ul {
          display: inline-block;
        }

        ul:hover {
          display: inline-block;
        }
      }
    }

    .panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      .emoji {
        background-color: #bbb;
        @include borders(3px);
        height: 40px;
      }

      .emoji:active {
        @include borders-reversed(3px)
      }

      .counter {
        width: 80px;
        height: 40px;
        text-align: center;
        line-height: 34px;
        font-size: 32px;
        letter-spacing: 2px;
        @include borders-reversed(3px);
        color: #eee;
        background-color: #511;
      }
      
      .easy {
        width: 56px;
      }
    }
  }

  .Game {
    margin: 0 8px 8px 8px;

    .line {
      display: flex;
    }

    .field {
      height: 22px;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;

      * {
        pointer-events: none
      }
    }

    .hidden {
      @include borders(3px);
    }

    .field.hidden:active {
      @include borders-reversed(3px);
    }

    .f-1 {
      color: darkgreen;
    }
    .f-2 {
      color: royalblue;
    }
    .f-3 {
      color: crimson;
    }
    .f-4 {
      color: purple;
    }
    .f-5 {
      color: saddlebrown;
    }
    .f-6 {
      color: navy;
    }
    .f-7 {
      color: black;
    }
    .f-8 {
      color: hotpink;
    }
    .noticed {
      color: black;
    }

  }
}
